@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Artin-Bold */
@font-face {
  font-family: 'Artin';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url('/fonts/fonts/woff/Artin-Bold.woff') format('woff'),
       url('/fonts/fonts/woff2/Artin-Bold.woff2') format('woff2');
}

/* ArtinSharp-Black */
@font-face {
  font-family: 'ArtinSharp';
  font-style: normal;
  font-weight: 900; /* Black (Heavy) */
  src: url('/fonts/fonts/woff/ArtinSharp-Black.woff') format('woff'),
       url('/fonts/fonts/woff2/ArtinSharp-Black.woff2') format('woff2');
}

/* ArtinSharp-Bold */
@font-face {
  font-family: 'ArtinSharp';
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url('/fonts/fonts/woff/ArtinSharp-Bold.woff') format('woff'),
       url('/fonts/fonts/woff2/ArtinSharp-Bold.woff2') format('woff2');
}

/* ArtinSharp-Light */
@font-face {
  font-family: 'ArtinSharp';
  font-style: normal;
  font-weight: 300; /* Light */
  src: url('/fonts/fonts/woff/ArtinSharp-Light.woff') format('woff'),
       url('/fonts/fonts/woff2/ArtinSharp-Light.woff2') format('woff2');
}

/* ArtinSharp-Regular */
@font-face {
  font-family: 'ArtinSharp';
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url('/fonts/fonts/woff/ArtinSharp-Regular.woff') format('woff'),
       url('/fonts/fonts/woff2/ArtinSharp-Regular.woff2') format('woff2');
}

/* ArtinSharp-Thin */
@font-face {
  font-family: 'ArtinSharp';
  font-style: normal;
  font-weight: 100; /* Thin */
  src: url('/fonts/fonts/woff/ArtinSharp-Thin.woff') format('woff'),
       url('/fonts/fonts/woff2/ArtinSharp-Thin.woff2') format('woff2');
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-btn1: #D99F35;
  --color-textsec1: #900000;
  --color-textbg1: #A97412;
  --color-icontext: #1C1C1C;
  --color-medgray: #a3a3a3;


  /*theme2*/

  --color-btn2:#da4914;
  --color-textsec2: rgba(28, 28, 28, 1);
  --color-textbg2: #da4914;
  --color-icontext: #1C1C1C;
  --color-medgray: #a3a3a3;


    /*theme3*/

    --color-btn3:#80E9CB;
    --color-icon3:#412820;

    
    /*theme4*/

    --color-btn4:#781BE1;



}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;
}

.ReactModal__Content--after-open {
  transform: scale(1);
}

.ReactModal__Content--before-close {
  transform: scale(0.8);
}



/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 999px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #929292; 
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D99F35; 
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  direction: rtl;
  background: var(--background);
  color: white;
  font-family: ArtinSharp, Helvetica, sans-serif;
}

body.modal-open {
  overflow: hidden;
}







.landingbg1{
  background: linear-gradient(131.36deg, #780E0E 30.52%, #B56A26 115.28%);

}
.landingbgmob1{
  background: linear-gradient(174.97deg, #790E0E 3.1%, #D99F35 145.31%);


}

.leftsidecont1{
  background: linear-gradient(213.92deg, rgba(255, 255, 255, 0.124) 0%, rgba(255, 255, 255, 0.279) 50%, rgba(255, 255, 255, 0.124) 100%);

}

.cardbg1{
  background: linear-gradient(94.98deg, rgba(255, 255, 255, 0.2) -4.43%, rgba(255, 255, 255, 0.02) 105.48%);
  backdrop-filter: blur(16.585960388183594px)

}


.offcard1{
  box-shadow: 2.37px 4.74px 7.11px 0px #F3C44D80;


}



.bgimagecategory1 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this div */
  z-index: 1000;
  
}

.bgimagecategory1::before {
  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the pseudo-element behind the content */

  /* Set the background image */
  background-image: url('/assets/template1/5.png');

  /* Make the background image repeat */
  background-repeat: repeat;

  /* Ensure the image covers the entire div */
  background-size: cover;

  /* Reduce the opacity of the background image */
  opacity: 0.4; /* Adjust this value to control the opacity */
}









.bgimagecategorymob1 {
  position: relative; /* Ensure the pseudo-element is positioned relative to this div */
  z-index: 1000;
  
}

.bgimagecategorymob1::before {
  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 100%;
  z-index: -1; /* Place the pseudo-element behind the content */

  /* Set the background image */
  background-image: url('/assets/template1/5.png');

  /* Make the background image repeat */
  background-repeat: repeat;

  /* Ensure the image covers the entire div */
   background-size: contain;

  /* Reduce the opacity of the background image */
  opacity: 0.4; /* Adjust this value to control the opacity */
}











.aboutustopcont{
  background: linear-gradient(86.84deg, rgba(255, 255, 255, 0.49) -0.66%, rgba(255, 255, 255, 0.245) 99.37%);

}


.leftsidecontmob1{

  background: linear-gradient(208.16deg, rgba(255, 255, 255, 0.3) -2.37%, rgba(255, 255, 255, 0.8) 49.69%, rgba(255, 255, 255, 0.3) 101.75%);

}
.aboutbgmob1{
  background: linear-gradient(131.36deg, #3c0707 30.52%, #5d3813 115.28%);


}

.aboutbg1{
  background: linear-gradient(131.36deg, #480808 30.52%, #663614 115.28%);


}














/*theme2 */






.landingbg1{
  background: linear-gradient(131.36deg, #780E0E 30.52%, #B56A26 115.28%);

}
.landingbgmob1{
  background: linear-gradient(174.97deg, #790E0E 3.1%, #D99F35 145.31%);


}

.leftsidecont2{
  background: linear-gradient(213.92deg, rgba(255, 255, 255, 0.224) 0%, rgba(255, 255, 255, 0.504) 50%, rgba(255, 255, 255, 0.224) 100%);


}
.bgcontlandind2{
  background: rgba(216,149,109,0.7)

}

.cardbg2{
  background: linear-gradient(94.98deg, rgba(255, 255, 255, 0.7) -4.43%, rgba(255, 255, 255, 0.07) 105.48%);

}


.offcard1{
  box-shadow: 2.37px 4.74px 7.11px 0px #F3C44D80;


}














.bgimagecategory2 {
  position: fixed; /* Fixed position to keep it in place */
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background-image: url('/assets/template2/1.jfif');
  background-size: cover; /* Cover the entire screen */
  background-position: center; /* Center the image */
  z-index: -1; /* Place it behind the content */
}


.bgimageabout2 {
  position: fixed; /* Fixed position to keep it in place */
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background-image: url('/assets/template2/1.jfif');
  background-size: cover; /* Cover the entire screen */
  background-position: center; /* Center the image */
  z-index: -1; /* Place it behind the content */
}

.bgimageabout2::before {
  content: ''; /* Required for pseudo-elements */
  position: absolute; /* Position relative to .bgimageabout2 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* White with 30% opacity */
  z-index: 0; /* Place it above the background image but below the content */
}



.categorysection1bg2{

  background: rgba(255, 255, 255, 0.5);


backdrop-filter: blur(15px);




}


.categorysection2bg2{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.5);



backdrop-filter: blur(15px);



}





.aboutustopcont{
  background: linear-gradient(86.84deg, rgba(255, 255, 255, 0.49) -0.66%, rgba(255, 255, 255, 0.245) 99.37%);

}


.leftsidecontmob2{

  background: linear-gradient(208.16deg, rgba(255, 255, 255, 0.3) -2.37%, rgba(255, 255, 255, 0.8) 49.69%, rgba(255, 255, 255, 0.3) 101.75%);

}
.aboutbgmob1{
  background: linear-gradient(131.36deg, #3c0707 30.52%, #5d3813 115.28%);


}

.aboutbg1{
  background: linear-gradient(131.36deg, #480808 30.52%, #663614 115.28%);


}














.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); /* This creates the blur effect */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}



.keen-slider__slide{
  padding: 0 !important;
}
.keen-slider {
  width: 454px !important;
  height: 442.4249267578125px !important;
}


@media (max-width: 1023px) {
  .keen-slider {
    width: 353px !important;
    height: 344px !important; /* Adjust height as needed or keep it auto */
  }
}

@media (max-height: 750px) {
.topcustom{
  top: -80px;
}
.hcustom{
  max-height: 16rem;
  height: 16rem;

}
}


/*theme3 */



@media (max-height: 750px) {
  .topcustom2{
    top: 10px;
  }
  .hcustom{
    max-height: 16rem;
    height: 16rem;
  
  }
  }


  .offcard2{

    box-shadow: 2.37px 4.74px 7.11px 0px rgba(54, 184, 148, 0.32);

  
  }
  








/*theme4 */


.categoryitembg4{
  background: linear-gradient(180deg, #FFDEEB 0%, #D76492 100%);
}




.offcard3{


  box-shadow: 2.37px 4.74px 7.11px 0px #781BE12E;

  
}







